Source: ansible-devel
Section: admin
Priority: optional
Maintainer: Henry Graham (hzgraham) <Henry.Graham@mail.wvu.edu>
Build-Depends: debhelper (>= 8.0.0~), asciidoc, python-support,	python-setuptools(>= 0.6)
Standards-Version: 3.9.4
Homepage: http://ansible.github.com/
XS-Python-Version: >= 2.7

Package: ansible-devel
Architecture: all
Depends: python, python-support (>= 0.90), python-jinja2, python-yaml, python-paramiko, python-httplib2, sshpass
Description: Ansible Application
 Ansible is a extra-simple tool/API for doing 'parallel remote things' over SSH executing commands, running "modules", or executing larger 'playbooks' that can serve as a configuration management or deployment system.
